@model IList<ChitalkaMVC.Storage.Entities.Note>

    <div class="list-group list-group-flush" style="height:350px;width:80%;margin-left:10%;margin-top:5%;overflow-y:scroll;">
    @foreach(var item in Model)
    {
        <div class="list-group-item list-group-item-action">
            
          <div style="text-align:left">@item.Title</div>
          <div style="text-align:center">@item.Text</div>
          <div style="text-align:right"><a asp-controller="Notes" asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
            <a asp-controller="Notes" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
          </div>
        
        </div>
        
    }
    </div>
