<form method="post" style="width:80%;margin-top:5%;margin-left:10%;">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Автор</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Айзек Азимов" name="">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Название</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Основание">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Жанр</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="сай-фай">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Краткое описание книги</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="мама-мия,это просто чума!!">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Картинка</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="вставь путь с сервера">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Год выхода</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="1942">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Сама книга</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Добавить книгу</button>
</form>
