@model IList<ChitalkaMVC.Storage.Entities.Century>

@{Layout = null;}

<div class="list-group list-group-flush">
    @foreach(var cent in Model)
    {
        <a type="button" href="/books/list?centuryId=@cent.Id" class="list-group-item list-group-item-action">@cent.Name</a>
    }
</div>