@model IList<ChitalkaMVC.Storage.Entities.Country>
 
@{Layout = null;}

<div class="list-group list-group-flush">
    @foreach(var country in Model)
    {
        <a type="button" href="/authors/list?countryId=@country.Id" class="list-group-item list-group-item-action">@country.Name</a>
    }
</div>