<form style="width:40%;margin-left:30%;margin-top:150px;" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mail">
        <div id="emailHelp" class="form-text">Данные под защитой пива</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputtext" class="form-label">UserName</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="usrName">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="pswrd">
    </div>

    <button class="btn btn-primary" type="submit">Войти</button>
    <button class="btn btn-secondary">Регистрация</button>
</form>