@model IList<ChitalkaMVC.Storage.Entities.Genre>
 
@{Layout = null;}

<div class="list-group list-group-flush">
    @foreach(var genre in Model)
    {
        <a type="button" href="/books/list?genreId=@genre.Id" class="list-group-item list-group-item-action">@genre.Name</a>
    }
</div>