@model Chitalka_v3.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="usrName" class="control-label"></label>
                <input asp-for="usrName" class="form-control" />
                <span asp-validation-for="usrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pswrd" class="control-label"></label>
                <input asp-for="pswrd" class="form-control" />
                <span asp-validation-for="pswrd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ifAdmin" /> @Html.DisplayNameFor(model => model.ifAdmin)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="control-label"></label>
                <input asp-for="mail" class="form-control" />
                <span asp-validation-for="mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ico" class="control-label"></label>
                <input asp-for="ico" class="form-control" />
                <span asp-validation-for="ico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
