@model ChitalkaMVC.Storage.Entities.Genre

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align:center">Edit</h1>


<hr />
<div >
    <div style="width:50%;margin-left:25%;margin-top:3%;height:380px;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:45%;margin-top:5%;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-left:47%;margin-top:-5%;">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}