<h4>Are you sure you want to log out?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogoutConfirmed">
            <div class="form-group">
                <input type="submit" value="Log out" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>