@{
    ViewData["Title"] = "Logout";
}
<h4 style="text-align:center">Are you sure you want to log out?</h4>
<hr />
<div style="height:300px;">
    <div style="margin-left:25%;margin-right:25%;">
        <form asp-action="LogoutConfirmed">
            <div class="form-group" style="margin-top:15%;">
                <input type="submit" style="margin:auto;display:block;width:130px" value="Log out" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>