@model ChitalkaMVC.Storage.Entities.User
@{
    ViewData["Title"] = "Profile";
}
<h5 style="text-align:center">Username: @Model.Username</h5>
<h5 style="text-align:center">Mail: 
@{
    if (Model.Mail == null)
    {
        <a style="margin:auto;display:block;width:170px" asp-action="Mail" class="btn btn-primary">Validate Mail</a>
    }
    else
    {
        @Model.Mail  <a asp-action="Mail" class="btn btn-primary">Change Mail</a>
    }
}</h5>
<a style="margin:auto;display:block;width:170px" asp-action="Password" class="btn btn-danger">Change Password</a>