@model ChitalkaMVC.Models.PasswordResetViewModel
@{
    ViewData["Title"] = "Manage";
}
<h4 style="text-align:center">Password Reset</h4>
<hr />
<div class="row">
    <div style="margin:auto;display:block" class="col-md-4">
        <form asp-action="PasswordReset">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @if (Model.Email == null)
                {
                    <label asp-for="Email" class="control-label"></label>
                    <input required type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                }
                else
                {
                    <label asp-for="Email" class="control-label"></label>
                    <input readonly type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                }
            </div>
            @if (Model.Email != null)
            {
                <div class="form-group">
                    <label asp-for="ConfirmationCode" class="control-label"></label>
                    <input required asp-for="ConfirmationCode" class="form-control" />
                    <span asp-validation-for="ConfirmationCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input required type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <input required type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label class="control-label">@Model.Result</label>
            </div>
            <div class="form-group">
                <input style="margin:auto;display:block" type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>