
@{
    ViewData["Title"] = "Profile";
}
<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <h1>@await Component.InvokeAsync("MenuName")</h1>
            <p>
                @if(ViewBag.auth==1){
                    <a class="text-danger" asp-action="Logout">Log out</a>
                }
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <a class="btn btn-danger" asp-action="Manage">Manage</a>
        </div>
    </div>
</div>
@if(ViewBag.isadmin==1)
{
    <div>
        <a asp-controller="Genres" asp-action="Index" >Genres</a> |
        <a asp-controller="Countries" asp-action="Index">Countries</a> |
        <a asp-controller="Authors" asp-action="Index">Authors</a> |
        <a asp-controller="Books" asp-action="Index">Books</a> |
        <a asp-controller="Centuries" asp-action="Index">Centuries</a>
    </div>
}
<h3>Notes:</h3>
<a asp-controller="Notes" asp-action="Create">New Note</a>
@await Component.InvokeAsync("UserNotes")
<h3>Favourites: </h3>
@await Component.InvokeAsync("ListFavouriteBooks")