@model ChitalkaMVC.Storage.Entities.Book
<h4>New Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="AuthorId"><option value="">Choose Author</option>
                        @await Component.InvokeAsync("ListAuthors")
                </select>
                <select asp-for="CenturyId"><option value="">Choose Century</option>
                        @await Component.InvokeAsync("ListCenturies")
                </select>
                <select id="GenreId" name="GenreId" multiple="multiple">
                        @await Component.InvokeAsync("ListGenres")
                </select>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
                <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visibility" /> @Html.DisplayNameFor(model => model.Visibility)
                </label>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
