@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-4">Chitalka</h3>
    <img src="Images/logo.png"/>
    <h2 class="display-5">Explore, Organize, Discuss?(maybe)</h2>
    <div class="row">
        <div class="col-6"><a class="h3" style="text-decoration:none;" asp-controller="Books" asp-action="List">Books</a></div>
        <div class="col-6"><a class="h3" style="text-decoration:none;" asp-controller="Authors" asp-action="List">Authors</a></div>
        
    </div>
    <br />
    <h2 class="display-5">Created with love and vodka</h2>
    <h2 class="display-5">HAKUNA MA VODKA, comrades</h2>
    <br />
    <img style="margin-left:5%;" src="Images/VODKA.png"/>
    <br />
</div>
